*{
	margin: 10px;
	padding: 0px;
	outline: none;
	box-sizing: border-box;
	font-family: 'poppins' ,sans-serif;
}
body{
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(colle.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
}
.container{
	width: 80%;
}
.wrapper{
	min-width: 750px;
	max-width: 1000px;
	border-radius: 10px;
	padding: 25px;
	background: #dde1e7;
	box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94,104,121,0.288); 
}
.wrapper .keys{
	display: flex;
	justify-content: center;
}
input{
	width: 30px;
	height: 30px;
}